---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import { site } from '../data/config.json';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there ☕️</div>
      <div class="text-5xl font-bold">I'm Olle Gynther Zillén</div>
      <div class="text-3xl py-3 font-bold">Software Engineer and Coffee Enthusiast</div>
      <div class="py-2">
        <text class="text-lg">
			I am creating software that solve complex problems in a simple way and sharing what I learn along the way. I like simplicity, automation and good coffee.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href={site.linkedin_url} target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from the coffee corner</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
