---
const speechUrl = `https://forms.gle/VtUp5Qu1SzDf1hgP9`;
const photoUrl = `https://weduploader.com/upload/FXVoGleiMBiOIN63`;
const locationUrl = `https://maps.app.goo.gl/oihr2LeWHCzLMc5A6`;
const imageUrl = `https://www.instagram.com/explore/tags/emineolle2024`;
import weddingImage from "../../images/wedding.webp";
import { Image } from 'astro:assets';
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Br칬llop!" includeSidebar={false}>
	<div class="text-center">
		<section>
			<h1 class="text-4xl font-bold mb-2">游눐 Br칬llop 游꿀</h1>
			<Image class="mx-auto mb-2" src={weddingImage} width="240" height="320" alt="Emine & Olle at the location 5 years ago"/>
			<h1 class="text-4xl font-bold mb-2">25/5-24</h1>
			<h3 class="text-2xl font-bold mb-2">Klockan 17:00-01:00</h3>
			<h4 class="text-xl font-bold mb-2">Parkering</h4>
			<p>Det finns 20 parkeringsplatser precis vid Rosendals Tr칛dg친rd (sl친 in Rosendalsv칛gen 38 p친 GPS:en).
				<br />Dessa kostar 45kr/h.
				<br />Om det 칛r fullt s친 finns 칛ven en st칬rre parkering i Stockholms Stads regi (81 platser), p친 andra sidan tr칛dg친rden.
				<br />F칬lj Djurg친rdsv칛gen hela v칛gen fr친n Djurg친rdsbron till Bellmansro och sv칛ng d칛r in till h칬ger p친 Sirishovsv칛gen.
				<br />F칬lj skyltning "P Rosendal".</p>
			<h4 class="text-xl font-bold mb-2">Kl칛dkod</h4>
			<p>Kavaj &
			Sk칬na skor - Vi kommer om v칛dret till친ter delvis vara utomhus med oj칛mnt v칛gunderlag.
			</p>
			<h4 class="text-xl font-bold mb-2">Presenter</h4>
			<p>Det viktigaste f칬r oss 칛r att ni kommer. 游
				<br />Om ni vill ge en present uppskattas bidrag till br칬llopsresa,
				<br />g칛rna via Swish till Emine eller Olle.</p>
			<a class="btn btn-warning mt-4" href=`${imageUrl}`>V친r hashtag #emineolle2024 p친 Instagram 游닞</a>
			<br />
			<a class="btn btn-accent mt-4" href=`${locationUrl}`>Hitta till br칬llopet 游딬</a>
			<br />
			<a class="btn btn-success mt-2" href=`${photoUrl}`>Ladda upp bilder till v친rt album h칛r! 游봅</a>
			<br />
			<a class="btn btn-info mt-4" href=`${speechUrl}`>Vill du tala p친 br칬llopet? Klicka h칛r 游뱔</a>
		</section>
	</div>
</BaseLayout>