---
const weddingUrl = `https://www.svt.se`;
const speechUrl = `https://sverigesradio.se`;
const weddingImage = `../../content/images/wedding.jpg`;
import { Image } from 'astro:assets';
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<head>
	<meta http-equiv="refresh" content={`10; url=${weddingUrl}`}/>
</head>

<BaseLayout title="Snart blire bröllop!" includeSidebar={false}>
	<div class="text-center">
		<section>
			<h1 class="text-4xl font-bold mb-2">💍 Bröllop 🥂</h1>
			<Image class="mx-auto mb-2" src={weddingImage} width="240" height="320" alt="Emine & Olle at the location 5 years ago"/>
			<h1 class="text-4xl font-bold mb-2">25/5-24</h1>
			<h3 class="text-2xl">Du blir snart skickad till anmälningsformuläret.</h3>
			<a class="btn btn-accent mt-9" href=`${weddingUrl}`>Kom direkt till anmälningsformuläret</a>
			<br />
			<a class="btn btn-info mt-9" href=`${speechUrl}`>Vill du tala på bröllopet? Klicka här</a>
		</section>
	</div>
</BaseLayout>